<div>
  <div class="status">{{status}}</div>
  <div class="board-row">
    <app-square [value]="squares[1]" (click)="handleClick(1)"></app-square>
    <app-square [value]="squares[2]" (click)="handleClick(2)"></app-square>
    <app-square [value]="squares[3]" (click)="handleClick(3)"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="squares[4]" (click)="handleClick(4)"></app-square>
    <app-square [value]="squares[5]" (click)="handleClick(5)"></app-square>
    <app-square [value]="squares[6]" (click)="handleClick(6)"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="squares[7]" (click)="handleClick(7)"></app-square>
    <app-square [value]="squares[8]" (click)="handleClick(8)"></app-square>
    <app-square [value]="squares[9]" (click)="handleClick(9)"></app-square>
  </div>
</div>

